.avatar{

position: absolute;
width: 30px;
height: 30px;
left: 49px;
top: 91px;
/* padding-left: 10px; */
border-radius: 42.25px;
}

.search-box{
    box-sizing: border-box;

position: absolute;
width: 542px;
height: 30px;
left: 91px;
top: 91px;

background: #FFFFFF;
border: 1px solid #E5E5E5;
border-radius: 4px;
}